# Node.js 相關
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.expo/
.expo-shared/

# Expo 打包輸出
#dist/
#web-build/

# 作業系統產生的檔案
.DS_Store
Thumbs.db

# IDE 產生的檔案
.vscode/
.idea/
